body{
    text-align: -webkit-center;
}

header{
    background-color: black;
    color: white;
    width: 70%;
    height: 45px;
    line-height: 40px;
}

main{
    border: solid;
    background-color:aliceblue;
    width: 70%;
    height: 500px;
}

h3{
    text-align: left;
    margin-left: 30px;
    font-size: smaller;
}

p{
    margin-top: 150px;
    margin-bottom: 180px;
    font-size: larger;
    font-weight: bold;

}

form{
}

div{
    text-align: center;
    margin-bottom: 20px;

}

label{
    margin-right: 25px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 70%;
    height: 45px;
    line-height: 40px;
}

button{
    margin-top: 20px;
}